body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #b8c2a5;
  margin: 0;
  padding: 0;
  color: #333;
}

.text-logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
}

.carousel-item img {
  max-height: 400px;
  object-fit: cover;
}

.espaco-destaque {
  background-color: #fffaf5;
  text-align: justify;
}

.espaco-destaque h2 {
  font-size: 2rem;
}

.espaco-destaque p {
  font-size: 1rem;
  line-height: 1.6;
}

#button-addon1,
i {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.carrossel-simples {
  padding: 2rem;
  background-color: #fffaf5;
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
}

.carousel-container img {
  flex: 0 0 auto;
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  scroll-snap-align: start;
  transition: transform 0.3s ease;
}

.carousel-container img:hover {
  transform: scale(1.05);
  cursor: pointer;
}


@media (max-width: 768px) {
  .footer-wecoffee .container {
    flex-direction: column;
    text-align: center;
  }

  .footer-wecoffee .footer-social {
    margin-top: 10px;
  }

  .footer-wecoffee .footer-links {
    margin: 15px 0;
  }
}
